# **Table of Content**

* **List**
  * Adding and Deletion
  * Updation
* **Tuples**
* **Dictionaries**
  * Creation and Updation
* **Sets**
* **Conditional Statements**
  * If Else
  * Elif
* **Loops**
  * While
  * For
* **Functions**
  * General Functions
  * Lambda Function

<hr>

# **List**

* **Definition: It is a collection of data items, that are stored in a dynamic way**

* **Properties of list**
  * A list is mutable ie, it can be modified
  * It can have duplicacy
  * It is ordered

* Creation: `variable = []`

**Interview Tips:**
  * Difference between a list and array: **List can have more than one datatype in it, whereas arrays are homogeneous ie. only one datatype is allowed**

In [2]:
a = [1,2,3,4,5,6]
a

[1, 2, 3, 4, 5, 6]

In [3]:
type(a)

list

In [4]:
A  = [1, 'Dev', False, 1.0, 3j]  # --> Heterogenous
type(A)

list

In [5]:
# Accessing list elements
# Syntax: variable[position]
print(A)

[1, 'Dev', False, 1.0, 3j]

In [6]:
# Indexing
A[3]

1.0

In [7]:
# Slicing
# Syntax: variable[start : end]
A[1:4]

['Dev', False, 1.0]

In [8]:
# slice using steps / skips
A[1:4:2]

['Dev', 1.0]

In [9]:
# access the element using negative
A[-1]

3j

In [10]:
# slicing using negative
A[-5:-3]

[1, 'Dev']

In [11]:
A[-5:3]

[1, 'Dev', False]

**Condition: `Start Index < Ending`**

<hr>

**Addition or Deletion in a list**

For adding some data elements into the list, we have two methods
  * Either we can add something in between
  * Or, we can add at the last

**Adding in between**
  * **insert()** - Inserts the values in between a list
  * Syntax: `listName.insert(index, value)`

In [13]:
A = [1, 'Dev', False, 1.0, 3j]

In [14]:
type(A)

list

In [15]:
A.insert(1, 'Joy')
A

[1, 'Joy', 'Dev', False, 1.0, 3j]

In [16]:
A[1]

'Joy'

**Add at last**
* **append()** - This will add the values at last
* Syntax: `listName.append(value)`

In [17]:
len(A)

6

In [18]:
A.append('World')
A

[1, 'Joy', 'Dev', False, 1.0, 3j, 'World']

In [19]:
len(A)

7

**Extend Function** -> This will add a list to a list

In [20]:
b = [1,2,3,4,5]
A.extend(b)

In [21]:
A

[1, 'Joy', 'Dev', False, 1.0, 3j, 'World', 1, 2, 3, 4, 5]

**Removal of elements**

* Remove function -> This will remove the first occurence of the element
* Pop function --> This takes a index and remove that element

**Remove Function**
  * Syntax: `listName.remove(value)`

In [22]:
A

[1, 'Joy', 'Dev', False, 1.0, 3j, 'World', 1, 2, 3, 4, 5]

In [24]:
A.remove(1)               # or A.remove(value = 1)
A

['Joy', 'Dev', False, 3j, 'World', 1, 2, 3, 4, 5]

**Pop Function**
  * Syntax: `listName.pop(index)`

In [25]:
A.pop(1)                   # or A.pop(index = 1)
A

['Joy', False, 3j, 'World', 1, 2, 3, 4, 5]

**Updations**

* Syntax: `listName[index] = newValues`

In [26]:
A

['Joy', False, 3j, 'World', 1, 2, 3, 4, 5]

In [27]:
A.index('World')

3

In [28]:
A.index(1)

4

In [29]:
# Single value Updation
A[3] = 'Dev'
A

['Joy', False, 3j, 'Dev', 1, 2, 3, 4, 5]

In [30]:
# Multiple Updation
A[3:6] = ['Apple', 'Peach', 'Cherry']
A

['Joy', False, 3j, 'Apple', 'Peach', 'Cherry', 3, 4, 5]

**List Methods**

In [31]:
# Maximum
a = [12,32,56,21,67,89,93]
a

[12, 32, 56, 21, 67, 89, 93]

In [33]:
max(a)

93

In [34]:
# Minimum
min(a)

12

In [37]:
# Reversing
a.reverse()
a

[93, 89, 67, 21, 56, 32, 12]

In [38]:
# Sorting
a.sort()
a

[12, 21, 32, 56, 67, 89, 93]

In [39]:
# Sorting in Reverse Order
a.sort(reverse=True)
a

[93, 89, 67, 56, 32, 21, 12]

<hr>

# **Tuples**

**Definition: It is a collection of data items, that are stored in a dynamic way but it is not changeable**

* **Properties of list**
  * A list is immutable ie, it can't be modified
  * It can have duplicacy
  * It is ordered

* Creation: `variable = ()`

In [40]:
a =(1,2,3,4,5)
a

(1, 2, 3, 4, 5)

In [41]:
type(a)

tuple

**Tuples can't be modified, can't be changed or can be added**

* Type Cast tuple to List, make changes then convert back to tuple

<hr>

**Type Casting**

Syntax: `variable = datatype(data)`

In [42]:
a = 12
type(a)

int

In [43]:
a = float(a)
type(a)

float

In [44]:
a

12.0

In [45]:
# String to Integer & vice-versa
a = "21"
a

'21'

In [46]:
type(a)

str

In [47]:
a = int(a)
a

21

In [48]:
type(a)

int

In [49]:
a = "a21a"
a

'a21a'

In [50]:
type(a)

str

In [51]:
a = int(a)
a

ValueError: invalid literal for int() with base 10: 'a21a'

**Every integer is a string, but not every string is an integer**

<hr>

**To make Changes to Tuple : Type Cast to List**

In [52]:
a = (1,2,3,4,5)
a

(1, 2, 3, 4, 5)

In [53]:
type(a)

tuple

In [54]:
a = list(a)
a

[1, 2, 3, 4, 5]

In [55]:
type(a)

list

In [56]:
a.append(21)
a

[1, 2, 3, 4, 5, 21]

In [57]:
a = tuple(a)
a

(1, 2, 3, 4, 5, 21)

In [58]:
type(a)

tuple

<hr>

# **Dictionary**

**Definition: It is ordered, modifiable, and key value datatype**

syntax: `variable = {key: value, key: value......}`